* {
	background-color: #F3E2A9;
}

p {
	font-size: 20px;	
}

form {
	width: 90%;	
}

img {
	margin: 15px 15px 15px 50px;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 2px solid black;
	text-align: center;
	box-shadow: 10px 10px 5px black;
}
img:hover {
	/*-ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s; */
    /*I used this from another source but do not really understand it. Will try
    replicate this animation with jquery instead! */
}
}
h1, h2, h3 {
	font-family: sans-serif;
}